In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

df = pd.read_csv("titanic.csv")
df.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [2]:
df["male"] = df['Sex'] == 'male'

In [3]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare,male
0,0,3,male,22.0,1,0,7.2500,True
1,1,1,female,38.0,1,0,71.2833,False
2,1,3,female,26.0,0,0,7.9250,False
3,1,1,female,35.0,1,0,53.1000,False
4,0,3,male,35.0,0,0,8.0500,True

In [4]:
y = df['Survived'].values
X = df[['Pclass','male','Age','Siblings/Spouses','Parents/Children','Fare']].values

In [6]:
model = LogisticRegression()

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=27)

In [37]:
print(X.shape, y.shape)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(887, 6) (887,)
(665, 6) (665,)
(222, 6) (222,)

In [38]:
model.fit(X_train, y_train)

LogisticRegression()

In [39]:
y_pred = model.predict(X_test)

In [40]:
(y_pred == y_test).sum()/y_test.shape[0]

0.7747747747747747

In [41]:
model.score(X_test,y_test)

0.7747747747747747

In [42]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [43]:
confusion_matrix(y_test,y_pred)

array([[116,  23],
       [ 27,  56]])

In [46]:
# sensitivity == recall
sensitivity = recall_score
print("sensitivity:", sensitivity(y_test,y_pred))

sensitivity: 0.6746987951807228

In [48]:
from sklearn.metrics import precision_recall_fscore_support
print(precision_recall_fscore_support(y_test, y_pred))

(array([0.81118881, 0.70886076]), array([0.83453237, 0.6746988 ]), array([0.82269504, 0.69135802]), array([139,  83]))

In [49]:
def specificity_score(y_true, y_pred):
    p, r, f, s = precision_recall_fscore_support(y_true, y_pred)
    return r[0]

In [50]:
print(specificity_score(y_test, y_pred))

0.8345323741007195

In [53]:
# fit and predict with threshold
y_pred = model.predict_proba(X_test)[:,1] > 0.75

In [54]:
print("Precision Score: ", precision_score(y_test,y_pred))
print("recall Score: ", recall_score(y_test,y_pred))

Precision Score:  0.9722222222222222
recall Score:  0.42168674698795183